{% extends 'base.html' %}

{%block content %}


<h2><center>What is Mortal Kombat 11?</center></h2>

<p class="main">Mortal Kombat 11 is the eleventh entry in the "Mortal Kombat' franchise, where fighters battle it out in gruesome and bloody fighters
    to acheive victory. Releasing in April of 2019, MK11 is a slow-paced strategic fighting game
    where every move you make in a tenth of a second can mean if you win a game, or lose. Including the lovable characters that made the series famous,
    MK11 has become a highly-competitive game where real players battle it out to earn fame and fortune. To get to the top, a player needs to know
    everything about not just how to play their preferred character, but how to play neutral, what each character's strength and weakness is, and
    most importantly, the frame data for each character, especially their own.
</p>
&nbsp;

<h2><center> What is a fighting game?</center></h2>

<p class="main">The definition of a "fighting game" from Wikipedia: A fighting game is a video game genre based around close combat between
     a limited number of characters, in a stage in which the boundaries are fixed. The characters fight each other
      until they defeat their opponents or the time expires. The matches typically consist of several rounds,
       in an arena, with each player character having different abilities but each is relatively viable to choose.
        Players must master techniques such as blocking, punishing opponent mistakes, counter-attacking,
         and chaining attacks together into "combos" to acheive victiory.</p>
         

<p><a href="https://www.mortalkombat.com/">The Official Website of Mortal Kombat</a></p>

<p><a href="https://www.gamesradar.com/the-history-of-mortal-kombat/">The History of Mortal Kombat</a></p>
<p class="main">Mortal Kombat to this day is one of the most controversial franchises in the world of video games. With its grotesque violence around
    brutal violence, Mortal Kombat started the topic of video game violence when it first came out in 1992. This link will tell you more
    about the franchise and what other MK media has come out over the years.
    
</p>
&nbsp;


<footer>
    <h2><a href = "{% url 'home' %}">Home </a></h2>
    <h2><a href = "{% url 'character' %}">Character </a></h2>
    <h2><a href = "{% url 'frames' %}">Frames </a></h2>
</footer>

{% endblock %}