{% extends 'base.html' %}
{% load static %}

{%block content %}


<h1><center> Choose your Kombatant</center></h1>

<h2><center><button class= "button button1"><a href = "{% url 'KanoHome' %}">Kano</center></a></button></h2>

<h2><center><button class = "button button2"><a href = "{%url 'NightwolfHome' %}">Nightwolf</a></center></button></h2>

<h2><center><button class= "button button3"><a href = "{%url 'JadeHome' %}">Jade</a></button></center></button></h2>

<h2><center><button class= "button button4"><a href = "{%url 'SubZeroHome' %}">Sub Zero</a></center></button></h2>
<center>
<img src = "{% static 'css/images/KanoSelect.png' %}">
<img src = "{% static 'css/images/NightwolfSelectScreen.png' %}">
<img src = "{% static 'css/images/JadeSelect.png' %}">
<img src = "{% static 'css/images/SubZeroSelect.png' %}">
</center>

<p><center><a href = "{% url 'home' %}">Home </center></a></p>
<h2><a href = "{% url 'about' %}">About </a></h2>
<h2><a href = "{% url 'frames' %}">Frames </a></h2>

{% endblock %}