{% extends 'base.html' %}

{%block content %}

<h1><center>Frames</center></h1>
<h1><center>What are frames?</center></h1>

<p> Frames are absolutley esstential when it comes to fighting games, Pros use this data to learn how to counter their opponents every move, and optimize their
    play to the fullest
</p>

<h2><center>Types of Frames:</center></h2>

<div id = 'info'>
    <ul>
    <p><b><li>Startup</b>: the number of frames it takes for the move to hit an opponent.
         Startup Frames are the type of frames that begin a move animation</p></li>
    <p><b>Example:</b> if you and your opponent press these buttons on the exact same frame, you would hit your opponent rather than the opposite due to the fact
    that your 9 frame move started up faster than their 11 frame start up frame move </p>
    <p><b><li>Active</b>: the number of frames the move can hit an oppponent. The frames that occur when startup frames finish </p></li>
    <p><b>Example:</b> Kano's F4(Wheel Kick) has 4 active frames, once the move starts up in 25 frames, the move will be able to hit the opponent
    for 4 frames,depending on this move hits an opponent, is blocked, or whiffs will determine what kind of frames will begin once the active frames are done.</p>
    <p><b><li>Recovery</b>: the number of frames the move takes to recover </p></li>
    <p><b><li>Hit Advantage</b>: the number of frames that the player can input a button press before an opponent</p></li>
    <p><b><li>Block Advantage</b>: the number of frames that the player can input a button before or after an opponent depending on if the move is plus or minus frames</p></li>
    <p><b><li>Flawless Block Advantage</b>: the number of frames that the player can input a button before or after a FLAWLESS BLOCK</p></li>
    
    </ul>
</div>

<p><a href="https://www.youtube.com/watch?v=_R0hbe8HZj0">Why Button Mashing doesn't work</a></p>
    <ul>
    <h1><center>MK11 Lingo:</center></h1>
    <p><b><li>50/50:</b> A situation where an opponent is forced to guess between two mixups.</p></li>
    <p><b><li>Anti-Air:</b> a move that counters a jump/jump in</p></li>
    <p><b><li>Chip Damage</b>: damage a player recieves from an opponent while blocking</p></li>
    <p><b><li>Corner</b>: the two spots at the end of each side of the stage</p></li>
    <p><b><li>DOT Damage</b>: Damage Over Time, damage that drains health over time.</p></li>
    <p><b><li>Fatal Blow</b>: a powerful move that is avaliable once a player's lifebar falls below 30% that is unbreakable and causes major damage
        , can only be used once per match on hit</p></li>
    <p><b><li>Krushing Blow(KB)</b>: a move that triggers if certain requirements are met, can lead to launchers, DOT damage, or extra damage. </p></li>
    <p><b><li>Low Attack</b>: an attack that must be blocked low to be suucessfully blocked</p></li>
    <p><b><li>Neutral Game:</b> where neither player has advanatge over another. Both trying to find an opening</p></li>
    <p><b><li>Overhead Attack</b>: an attack that must be blocked high to be successfully blocked</p></li>
    <p><b><li>Parry</b>: a specific move that counters an opponents attack</p></li>
    <p><b><li>Punish</b>: attacking an opponent who is currently in minus frames(unable to input a button) </p></li>
    <p><b><li>Roll</b>:used to roll forward or backward to get better positioning on an opponent a roll that is invincibleto all moves except for throws.</p></li>
    <p><b><li>Throw</b>:an attack that grabs the opponent and is unblockable, can be ducked or jumped out of for a punish</p></li>
    <p><b><li>Wakeup/Getup</b>:a move made when a knocked down player gets out of minus frames</p></li>
    <p><b><li>Whiff</b>: when an attack misses an opponent</p></li>
    <p><b><li>Whiff Punish</b>: when a player punishes an opponent when the opponent whiffs an attack</p></li>
    </ul>








<footer>
    <h2><center><a href = "{% url 'home' %}">Home </a></h2></center>
    <h2><a href = "{% url 'about' %}">About </a></h2>
    <h2><a href = "{% url 'character' %}">Character </a></h2>
    <h2><a href = "{% url 'frames' %}">Frames </a></h2>
</footer>

{% endblock %}