{% extends 'base.html' %}
{% load static %}
{%block content %}

<h1><center>Jade</center></h1>
<center><img src = "{% static 'css/images/JadeVersus.png' %}"></center>
<p class="main"> Edenia's greatest assasssin and bodyguard for the throne of outworld, Jade uses her bo staff and razer rangs to control the pace of a fight
    and frustrate her opponent.
</p>

<center>

    <img src = "{% static 'css/images/Controller.png' %}">
    <p>Fighting Game Lingo:</p>
    <p> OH: Overhead </p>
    <p>FB: Fatal Blow</p>
    <p>B: Back</p>
    <p>F: Forward</p>
    <p>D: Down</p>
    <p>U: Up</p>
    <p>AMP: Amplified</p>
    <p>Buff: Armored Kano Ball/Damage Buff</p>
    <p> Basic Attacks</p>
</center>
<p>Fighting Game Lingo:</p>
        <p>OH: Overhead</p>
        <p>FB: Fatal Blow</p>
        <p>B: Back</p>
        <p>F: Forward</p>
        <p>D: Down</p>
        <p>U: Up</p>
        <p>AMP: Amplified</p>
        <p>HOLD: Hold a button to extend a move</p>
        <p> Basic Attacks</p>
    <center>
        <table>
            <tr>
                <th>Move Name</th>
                <th>Type</th>
                <th>Buttons</th>
                <th>Startup</th>
                <th>Active</th>
                <th>Recovery</th>
                <th>Hit Advantage</th>
                <th>Block Advantage</th>
                <th> Flawless Block Advantage</th>
            </tr>
        
    {% for basic in JadeBasicFrames %}
    
    
        <tr>
            <td>{{basic.Move}}</td>
            <td>{{basic.MoveType}}</td>
            <td>{{basic.Buttons}}</td>
            <td>{{basic.Startup}}</td>
            <td>{{basic.Active}}</td>
            <td>{{basic.Recovery}}</td>
            <td>{{basic.HitAdv}}</td>
            <td>{{basic.BlockAdv}}</td>
            <td>{{basic.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
</table>
</center>
<center>
    <p>String Attacks</p>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for string in JadeStringFrames %}
    
    
        <tr>
            <td>{{string.Move}}</td>
            <td>{{string.MoveType}}</td>
            <td>{{string.Buttons}}</td>
            <td>{{string.Startup}}</td>
            <td>{{string.Active}}</td>
            <td>{{string.Recovery}}</td>
            <td>{{string.HitAdv}}</td>
            <td>{{string.BlockAdv}}</td>
            <td>{{string.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    </center>
    <center>
    <p>Special Attacks</p>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for special in JadeSpecialFrames %}
    
    
        <tr>
            <td>{{special.Move}}</td>
            <td>{{special.MoveType}}</td>
            <td>{{special.Buttons}}</td>
            <td>{{special.Startup}}</td>
            <td>{{special.Active}}</td>
            <td>{{special.Recovery}}</td>
            <td>{{special.HitAdv}}</td>
            <td>{{special.BlockAdv}}</td>
            <td>{{special.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p><b> VARIATION SPECIFIC MOVES</b></p>
    <p>Emerald Defender</p>
</center>
    <center>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for emerald in JadeEmeraldFrames %}
    
    
        <tr>
            <td>{{emerald.Move}}</td>
            <td>{{emerald.MoveType}}</td>
            <td>{{emerald.Buttons}}</td>
            <td>{{emerald.Startup}}</td>
            <td>{{emerald.Active}}</td>
            <td>{{emerald.Recovery}}</td>
            <td>{{emerald.HitAdv}}</td>
            <td>{{emerald.BlockAdv}}</td>
            <td>{{emerald.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p>KRUSHING BLOWS:</p>
    <p>Rising Staff(D2):Triggers if this attack <b> KOUNTERS </b> or <b> PUNISHES </b> a <b>HIGH ATTACK</b></p>
    <p>Toward Throw(F1+3):Triggers if opponent failed <b> THROW ESCAPE </b>during previous <b> THROW.</b></p>
    <p>Baited(124):Triggers if second hit(2) of the <b> KOMBO </b> is the first to <b>HIT</b></p>
    <p>Temptation(DB4):Triggers if Temptation has been AMPLIFIED TWICE preivously in the match.</p>
    <p>Blazing Nitro Kick(DF4):Triggers if this move hits the opponent twice in a row or <b>BREAKS ARMOR</b></p>
    <p>You play Emerald Defender by ...</p>
</center>
    <center>
    <p>Jaded</p>
    
    <table>
        <tr>
            <th>Move Name</th>
            <th>MoveType</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for jaded in JadeJadedFrames %}
    
    
        <tr>
            <td>{{jaded.Move}}</td>
            <td>{{jaded.MoveType}}</td>
            <td>{{jaded.Buttons}}</td>
            <td>{{jaded.Startup}}</td>
            <td>{{jaded.Active}}</td>
            <td>{{jaded.Recovery}}</td>
            <td>{{jaded.HitAdv}}</td>
            <td>{{jaded.BlockAdv}}</td>
            <td>{{jaded.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p>KRUSHING BLOWS:</p>
    <p>You play Jaded by blah blah</p>
    <p>Rising Staff(D2):Triggers if this attack <b>KOUNTERS</b> or <b>PUNISHES</b> a <b>HIGH ATTACK</b></p>
    <p>Toward Throw(F1+3):Triggers if opponent failed <b>THROW ESCAPE</b> during previous <b>THROW.</b></p>
    <p>Baited(124):Triggers if second hit(2) of the <b> KOMBO </b>is the first to <b>HIT</b></p>
    <p>Temptation(DB4):Triggers if Temptation has been AMPLIFIED TWICE preivously in the match.</p>
    <p>Blazing Nitro Kick(DF4):Triggers if this moves hits the opponent twice in a row or <b>BREAKS ARMOR</b></p>
    <p>Pole Valut Amplified(BF3AMP): Triggers if opponent is <b> HIT </b>after running a great distance.</p>
    </center>




<footer>
    <h2><a href = "{% url 'home' %}">Home </a></h2>
    <h2><a href = "{% url 'character' %}">Character </a></h2>
    <h2><a href = "{% url 'frames' %}">Frames </a></h2>
</footer>

{% endblock %}