{% extends 'base.html' %}
{% load static %}

{%block content %}

<h1><center>Kano</center></h1>
<body>
    <center><img src = "{% static 'css/images/KanoVersus.png' %}"></center>
    <p> Kano is the leader of the organized crime syndicate known as the Black Dragon. Known as a scoundrel, a backstabber,
         and a thorn in the side of the Special Forces, Kano specializes in fighting dirty with his knives and his cybernetic enhancemnets to
        make him a nightmare to play againist if you are unaware of the dirty tricks he has up his sleeve. </p>

        <center>

        <img src = "{% static 'css/images/Controller.png' %}">
        <p>Fighting Game Lingo:</p>
        <p> OH: Overhead </p>
        <p>FB: Fatal Blow</p>
        <p>B: Back</p>
        <p>F: Forward</p>
        <p>D: Down</p>
        <p>U: Up</p>
        <p>AMP: Amplified</p>
        <p>Buff: Armored Kano Ball/Damage Buff</p>
        <p> Basic Attacks</p>
    </center>
    <center>
        <table>
            <tr>
                <th>Move Name</th>
                <th>Type</th>
                <th>Buttons</th>
                <th>Startup</th>
                <th>Active</th>
                <th>Recovery</th>
                <th>Hit Advantage</th>
                <th>Block Advantage</th>
                <th> Flawless Block Advantage</th>
            </tr>
        
    {% for basic in KanoBasicFrames %}
    
    
        <tr>
            <td>{{basic.Move}}</td>
            <td>{{basic.MoveType}}</td>
            <td>{{basic.Buttons}}</td>
            <td>{{basic.Startup}}</td>
            <td>{{basic.Active}}</td>
            <td>{{basic.Recovery}}</td>
            <td>{{basic.HitAdv}}</td>
            <td>{{basic.BlockAdv}}</td>
            <td>{{basic.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
</table>
</center>
<center>
    <p>String Attacks</p>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for string in KanoStringFrames %}
    
    
        <tr>
            <td>{{string.Move}}</td>
            <td>{{string.MoveType}}</td>
            <td>{{string.Buttons}}</td>
            <td>{{string.Startup}}</td>
            <td>{{string.Active}}</td>
            <td>{{string.Recovery}}</td>
            <td>{{string.HitAdv}}</td>
            <td>{{string.BlockAdv}}</td>
            <td>{{string.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    </center>
    <center>
    <p>Special Attacks</p>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for special in KanoSpecialFrames %}
    
    
        <tr>
            <td>{{special.Move}}</td>
            <td>{{special.MoveType}}</td>
            <td>{{special.Buttons}}</td>
            <td>{{special.Startup}}</td>
            <td>{{special.Active}}</td>
            <td>{{special.Recovery}}</td>
            <td>{{special.HitAdv}}</td>
            <td>{{special.BlockAdv}}</td>
            <td>{{special.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p><b> VARIATION SPECIFIC MOVES</b></p>
    <p>Ripper</p>
</center>
    <center>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for ripper in KanoRipperFrames %}
    
    
        <tr>
            <td>{{ripper.Move}}</td>
            <td>{{ripper.MoveType}}</td>
            <td>{{ripper.Buttons}}</td>
            <td>{{ripper.Startup}}</td>
            <td>{{ripper.Active}}</td>
            <td>{{ripper.Recovery}}</td>
            <td>{{ripper.HitAdv}}</td>
            <td>{{ripper.BlockAdv}}</td>
            <td>{{ripper.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p>KRUSHING BLOWS:</p>
    <p>Black Dragon Bash(D2):Triggers if this attack <b> KOUNTERS </b> or <b> PUNISHES </b> a <b> HIGH ATTACK</b></p>
    <p>Forward and Back Throw(1+3):Triggers if opponent failed <b> THROW ESCAPE </b>during previous <b>THROW.</b></p>
    <p>Enzuigiri(B3):Triggers if this <b>MID</b>is a <b>KOUNTER</b>or<b>PUNISH</b>.</p>
    <p>Penal Colony(F43): Triggers if opponent blocks late(during or after) <b> ACTIVE FRAMES</b> </p>
    <p>Lumbar Check Amplified(DBF3AMP): Triggers if opponent is hit during a <b> GETUP ROLL</b></p>
    <p>You play ripper by blah</p>
</center>
    <center>
    <p>Dirtbag</p>
    
    <table>
        <tr>
            <th>Move Name</th>
            <th>MoveType</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for dirtbag in KanoDirtbagFrames %}
    
    
        <tr>
            <td>{{dirtbag.Move}}</td>
            <td>{{dirtbag.MoveType}}</td>
            <td>{{dirtbag.Buttons}}</td>
            <td>{{dirtbag.Startup}}</td>
            <td>{{dirtbag.Active}}</td>
            <td>{{dirtbag.Recovery}}</td>
            <td>{{dirtbag.HitAdv}}</td>
            <td>{{dirtbag.BlockAdv}}</td>
            <td>{{dirtbag.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p>KRUSHING BLOWS:</p>
    <p>Black Dragon Bash(D2):Triggers if this attack <b> KOUNTERS </b> or <b> PUNISHES </b> a <b> HIGH ATTACK</b></p>
    <P>Forward and Back Throw(1+3):Triggers if opponent failed <b>THROW ESCAPE </b>during previous <b> THROW.</b></P>
    <p>Enzuigiri(B3):Triggers if this <b> MID </b> is a <b>KOUNTER</b>or<b>PUNISH</b>.</p>
    <p>You play dirtbag by blah blah</p>
    </center>


</body>




<p><a href = "{% url 'home' %}">Home </a></p>
<p><a href = "{% url 'character' %}">Character </a></p>
<p><a href = "{% url 'frames' %}">Frames </a></p>

{% endblock %}