{% extends 'base.html' %}
{% load static %}
{%block content %}

<h1><center>Sub Zero</center></h1>
<center><img src = "{% static 'css/images/SubZeroVersus.png' %}"></center>
<p class="main"> The grandmaster of the Lin Kuei. Sub-Zero practices the art of cryomancy to freeze his foes to protect the realm of Earth. Sub-Zero
    uses his excellent mix-ups to keep the opponent guessing on where they should block next.
</p>

<center>

    <img src = "{% static 'css/images/Controller.png' %}">
    <p>Fighting Game Lingo:</p>
    <p> OH: Overhead </p>
    <p>FB: Fatal Blow</p>
    <p>B: Back</p>
    <p>F: Forward</p>
    <p>D: Down</p>
    <p>U: Up</p>
    <p>AMP: Amplified</p>
    <p> Basic Attacks</p>
</center>
    <center>
        <table>
            <tr>
                <th>Move Name</th>
                <th>Type</th>
                <th>Buttons</th>
                <th>Startup</th>
                <th>Active</th>
                <th>Recovery</th>
                <th>Hit Advantage</th>
                <th>Block Advantage</th>
                <th> Flawless Block Advantage</th>
            </tr>
        
    {% for basic in SubZeroBasicFrames %}
    
    
        <tr>
            <td>{{basic.Move}}</td>
            <td>{{basic.MoveType}}</td>
            <td>{{basic.Buttons}}</td>
            <td>{{basic.Startup}}</td>
            <td>{{basic.Active}}</td>
            <td>{{basic.Recovery}}</td>
            <td>{{basic.HitAdv}}</td>
            <td>{{basic.BlockAdv}}</td>
            <td>{{basic.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
</table>
</center>
<center>
    <p>String Attacks</p>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for string in SubZeroStringFrames %}
    
    
        <tr>
            <td>{{string.Move}}</td>
            <td>{{string.MoveType}}</td>
            <td>{{string.Buttons}}</td>
            <td>{{string.Startup}}</td>
            <td>{{string.Active}}</td>
            <td>{{string.Recovery}}</td>
            <td>{{string.HitAdv}}</td>
            <td>{{string.BlockAdv}}</td>
            <td>{{string.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    </center>
    <center>
    <p>Special Attacks</p>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for special in SubZeroSpecialFrames %}
    
    
        <tr>
            <td>{{special.Move}}</td>
            <td>{{special.MoveType}}</td>
            <td>{{special.Buttons}}</td>
            <td>{{special.Startup}}</td>
            <td>{{special.Active}}</td>
            <td>{{special.Recovery}}</td>
            <td>{{special.HitAdv}}</td>
            <td>{{special.BlockAdv}}</td>
            <td>{{special.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p><b> VARIATION SPECIFIC MOVES</b></p>
    <p>Dead of Winter</p>
</center>
    <center>
    <table>
        <tr>
            <th>Move Name</th>
            <th>Type</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for winter in SubZeroDeadofWinterFrames %}
    
    
        <tr>
            <td>{{winter.Move}}</td>
            <td>{{winter.MoveType}}</td>
            <td>{{winter.Buttons}}</td>
            <td>{{winter.Startup}}</td>
            <td>{{winter.Active}}</td>
            <td>{{winter.Recovery}}</td>
            <td>{{winter.HitAdv}}</td>
            <td>{{winter.BlockAdv}}</td>
            <td>{{winter.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p>KRUSHING BLOWS:</p>
    <p>Rising Doom(D2): Triggers if this attack <b> KOUNTERS </b> or <b> PUNISHES </b> a <b>HIGH ATTACK</b></p>
    <p>Back Throw(1+3): Triggers if opponent failed <b>THROW ESCAPE </b>during previous<b> THROW.</b></p>
    <p>Cold Encounter(124): Triggers in a <b> KOMBO </b>of 8 or more.</p>
    <p>Final Draw(F24):Triggers if this <b> KOMBO ATTTACK </b>is a <b> KOUNTER </b> or <b> PUNISH </b></p>
    <p>Cold Shoulder Amplified(BF3AMP): Triggers if this <b> ATTACK </b> is a <b> KOUNTER </b> or <b> PUNISH </b></p>
    <h2>How to Play:</h2>
    <p>You play Dead of Winter by ...</p>
</center>
    <center>
    <p>Thin Ice</p>
    
    <table>
        <tr>
            <th>Move Name</th>
            <th>MoveType</th>
            <th>Buttons</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>Hit Advantage</th>
            <th>Block Advantage</th>
            <th> Flawless Block Advantage</th>
        </tr>

    {% for thinIce in SubZeroThinIceFrames %}
    
    
        <tr>
            <td>{{thinIce.Move}}</td>
            <td>{{thinIce.MoveType}}</td>
            <td>{{thinIce.Buttons}}</td>
            <td>{{thinIce.Startup}}</td>
            <td>{{thinIce.Active}}</td>
            <td>{{thinIce.Recovery}}</td>
            <td>{{thinIce.HitAdv}}</td>
            <td>{{thinIce.BlockAdv}}</td>
            <td>{{thinIce.FBlockAdv}}</td>
        </tr>
       
    {% endfor %}
    </table>
    
    <p>KRUSHING BLOWS:</p>
    <p>Rising Doom(D2): Triggers if this attack <b>KOUNTERS</b> or <b>PUNISHES</b> a <b>HIGH ATTACK</b></p>
    <p>Back Throw(1+3): Triggers if opponent failed <b>THROW ESCAPE </b>during previous<b> THROW. </b></p>
    <p>Cold Encounter(124): Triggers in a <b>KOMBO </b>of 8 or more.</p>
    <p>Final Draw(F24):Triggers if this <b>KOMBO ATTTACK </b>is a <b>KOUNTER</b> or <b> PUNISH </b></p>
    <p>Slide Amplified:Triggers on the third <b> AMPLIFIED </b>slide to <b>HIT</b></p>
    <h2>How to Play:</h2>
    <p>You play Thin Ice by ...</p>
    </center>


<footer>
    <h2><a href = "{% url 'home' %}">Home </a></h2>
    <h2><a href = "{% url 'character' %}">Character </a></h2>
    <h2><a href = "{% url 'frames' %}">Frames </a></h2>
</footer>

{% endblock %}