h1 a{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1, h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
a{
    text-align: justify;
    text-decoration: dashed;
    letter-spacing: normal;
    word-spacing: 3px;
}

.button{
    color: white;
    text-align: center;
    font-size:20px;
    padding: 15px 32px;
    width: 30%;
}
.button1 {background-color: crimson;}
.button2 {background-color: rgb(117, 98, 65);}
.button3 {background-color: rgb(28, 196, 56)}
.button4 {background-color: blue}

table {
    border: 1px solid red;
    color: white;
    width: 80%;
}
center{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th{
    height:20px;
    text-align: left;
}
td{
    text-align: left;
}

img {
   
    padding: 5px;
    width: 250px;
}
p{
    text-align: center;
    color: white;
}
p.main {
    color: white;
    text-align: justify;
    letter-spacing: 1px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#info{     
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    text-align: center;
    color:white;
}
.link{
    text-align: center;
    text-decoration: dotted;
    
}



  
text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    
    background-image: url(images/StartScreen.png);
}